.footer {
  padding: 10px 20px;
  text-align: center;
  background: linear-gradient(90deg,#ff512f,#dd2476);
  color: white;
  margin-top: 0; /* remove extra spacing */
}


/* Responsive */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }
}