/* APP WRAPPER */

.app-container{
width:100%;
min-height:100vh;
display:flex;
flex-direction:column;
background:#0f0f0f;
}

.page-container{
width:90%;
max-width:1400px;
margin:auto;
}

/* MAIN PAGE AREA */

.page-content{
flex:1;
width:100%;
padding-top:80px; /* navbar height */
}

/* NAVBAR FIX */

.navbar{
width:100%;
margin:0;
padding:0 40px;
}

/* FOOTER */

footer{
width:100%;
background:linear-gradient(90deg,#ff512f,#dd2476);
color:white;
text-align:center;
padding:10px 0;
}
.container{
width:90%;
max-width:1400px;
margin:auto;
padding-top:80px;
}