body{

margin:0;
font-family: 'Poppins', sans-serif;

background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);

color:white;

}

.section{

width:90%;
max-width:1200px;
margin:auto;
padding:80px 0;

}
